@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:ital,wght@0,200;1,300&family=Roboto+Mono:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: #0c0c0c;
}
body {
  background: #ed4343;
}

.login-page {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.form {
  position: relative;
  filter: drop-shadow(0 0 25px #000000);
  border-radius: 5px;
  width: 450px;
  height: 400px;
  background-color: #b5020229;
  padding: 40px;
}

.form img {
  position: absolute;
  height: 20px;
  top: 230px;
  right: 60px;
  cursor: pointer;
}

.form input {
  outline: 0;
  background: #ffffffba;
  border-radius: 4px;
  width: 100%;
  border: 0;
  margin: 15px 0;
  padding: 15px;
  font-size: 14px;
}

.form input:focus {
  box-shadow: 0 0 5px 0 rgb(2, 1, 14);
}

span {
  color: blue;
  margin: 20px 0;
  font-size: 14px;
}

.form button {
  outline: 0;
  background: #e90000b9;
  width: 100%;
  border: 0;
  margin-top: 10px;
  border-radius: 3px;
  padding: 15px;
  color: #000000;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease-in-out;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: rgb(0, 0, 0);
  color: #ff0000;
}

.message {
  margin: 15px 0;
  text-align: center;
}
.form .message a {
  font-size: 17px;
  color: #000000;
  text-decoration: none;
}
